<app-mainbar></app-mainbar>

<div class="flex-container">
    <app-sidebar></app-sidebar>
    <div class="mail-compose">
        <div class="fts">

            <div class="comdiv">
                <span >From : </span>
                <input type="email" value ="Mento" readonly>
                
            </div>
            <div class="comdiv">
                <span>TO : </span>
                <input type="email" value={{to}} id="to" multiple >
                
            </div>
            <div class="comdiv">
                <span>Subject : </span>
                <input type="text" >
                
            </div>
            <div class="starDiv">
                <span>importance:          </span>
                <div class="container d-flex justify-content-center mt-200">
                        <div class="col-md-12">
                            <div class="stars">
                                <form action=""> 
                                    <input class="star star-4" id="star-4" type="radio" name="star" [(ngModel)]="importance" value="4" /> 
                                    <label class="star star-4" for="star-4"></label>
                                    <input class="star star-3" id="star-3" type="radio" name="star"[(ngModel)]="importance" value="3" />
                                    <label class="star star-3" for="star-3"></label> 
                                    <input class="star star-2" id="star-2" type="radio" name="star"[(ngModel)]="importance" value="2" />
                                    <label class="star star-2" for="star-2"></label>
                                    <input class="star star-1" id="star-1" type="radio" name="star"[(ngModel)]="importance" value="1" /> 
                                    <label class="star star-1" for="star-1"></label> 
                                </form>
                            </div>
                        </div>
                </div>
            </div>
        </div>

    
            <ejs-richtexteditor id='defaultRTE'>
            <ng-template #valueTemplate>
            <p> </p>
            
            </ng-template>
            </ejs-richtexteditor>
        <div class="Attach">
            <fa-icon [icon]="faPaperclip" class=""></fa-icon>
        </div>
        <div class="btns">
              <div class="Cancel" (click)='back()'>
                Cancel
              </div>
              <div class="Submit" (click)='submit()'>
                Submit
              </div>
        </div>
    </div>
</div>
    