<div class="flex-container">
    <app-sidebar></app-sidebar>
    <div class="mail-compose">
        <div class="fts">

            <div class="comdiv">
                <span >From : </span>
                <input type="email" value ="Mo7senaa11@felshare3.com" readonly>
                
            </div>
            <div class="comdiv">
                <span>TO : </span>
                <input type="email" value ="Mo7sen82@felshare3.com" readonly>
                
            </div>
            <div class="comdiv">
                <span>Supject : </span>
                <input type="text" value ="Hello World!" readonly>
                
            </div>
        </div>
    </div>
</div>