<header class="global-nav" >
  <div class="Logo">
    <img alt="Mail Server Logo" src="./assets/img/myMail.png" width=50>
    <span>Bro Mail</span>
  </div>


  <button mat-button [matMenuTriggerFor]="operations">Operations</button>
  <mat-menu #operations="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="sortby">Sort by</button>
    <!-- <button mat-menu-item [matMenuTriggerFor]="filterby">Filter by</button> -->
    <button mat-menu-item [matMenuTriggerFor]="searchby">Search by</button>
  </mat-menu>
  <mat-menu #sortby="matMenu" >
    <button mat-menu-item (click)="sortClick()">Name</button>
  </mat-menu>
  <mat-menu #searchby="matMenu">
    <button mat-menu-item (click)="searchClick()">Name</button>
  </mat-menu>
  <div id="textDiv1" >
    <input type="text" id="firstText" placeholder="Key" [(ngModel)]="keyText">
    </div>
    <div class="Sign" routerLink="/" >
      Sign Out
    </div>
</header>

<section class="main-container" style="display: block">
    <div class="flex-container">
      <app-sidebar></app-sidebar>
          <main class="main-content">
             
        <!--/////////////////////////////-->
      <div class="accodion"id ="accordion">
        <div *ngFor ="let contact of contacts; let i = index" >
          <div class="mail-list" data-bs-toggle="collapse" attr.href="#{{'contact' + i}}" data-bs-parent="#accordion" aria-expanded="false" (click)="update(i)">
            <div class="mail-icons" >
              <h4 class="title">{{contact.name}}</h4>
            </div>
          </div>
          <div *ngFor ="let mail of contact.mail" >
            <div class="collapse" id="{{ 'contact' + i }}" data-bs-parent="#accordion">
               <div class="card card-body" (click)="sendMail(mail)">
                {{mail}}
              </div>
            </div>
          </div>
          <div class="card card-body collapse "id="{{ 'contact' + i }}" data-bs-parent="#accordion" >
            Add Another Mail
            <input [(ngModel)]="newContactMail" (keyup.enter)="onEnter()" >
          </div>
        </div>
      </div>
        
        <!--/////////////////////////////-->
        <!--/////////////////////////////-->
        
        
        </main>

        <aside class="navigation flex-container main-container"style="display: block">
          <div class="FOLDER">
              <div class="btn">
              <a (click)="showAdd()"><img alt ="add" src="./assets/img/add.webp">
                      <p>Add Contact</p>
              </a>
              </div>
          </div>
          <div class="ncontact" id="ncontact">
            <input id="cnameI" [(ngModel)]="newContactName" placeholder="Enter The contact Name" >
            <input id="cemailI" [(ngModel)]="newContactMail" placeholder="Enter contact's Mail" >  
          </div>
              <div class="compose" id="cnameBTN2">
              <div class="btn">
                <a (click)="add()"><img alt ="add" src="./assets/img/add.webp">
                    <p>OK </p>
                </a>
                </div>
          </div>
          <div class="FOLDER">
              <div class="btn">
              <a (click)="showEdit()"><img alt ="add" src="./assets/img/rename.png">
                  <p>Edit Contact</p>
              </a>
              </div>
          </div>
          <input value="{{editName}}" [(ngModel)]="editName" id ="editName" style="display: none;">
          <div *ngFor= "let mail of arr; let i = index;trackBy:trackByIdx">
            <input value = "{{mail}}"  [(ngModel)]="arr[i]" id ="{{ 'mail' + i }}" style="display: none;">
          </div>



          <div class="compose" id="cnameBTN3">
              <div class="btn">
              <a (click)="edit()"><img alt ="add" src="./assets/img/rename.png">
                  <p>OK </p>
              </a>
              </div>
          </div>    
              <div class="FOLDER">
              <div class="btn">
              <a (click)="delete()"><img alt ="add" src="./assets/img/delete.png">
                  <p>Delate Contact</p>
              </a>
              </div>
          </div>
      
      </aside>
      


      </div>
  </section>
  
















  <!-- <div class="cont"> -->
    
    <!-- </div> -->