  <div class ="container">
  <div class="row">
    <div class="col-mid-6">
      <div class="card">
        <div class="text-center">
          <div class="Logo">
            <img alt="Mail Server Logo" src="./assets/img/myMail.png" width=50>
            <span>Mail Server</span>
          </div>
          <div style="display: flex; flex-wrap: wrap ;align-items: center; justify-content: center;">
            <div class="mb-3" style="width: 490px;">
              <label for="exampleInputEmail1" class="form-label"  >Email address</label>
              <input [(ngModel)]="myText" type="text" class="form-control" id="exampleInputEmail1"  aria-describedby="emailHelp" >
              <!-- [(ngmode)]="myText" -->
            </div>
            <div class="mb-3" style="width: 490px">
              <label for="exampleInputPassword1" class="form-label" >Password</label>
              <input type="password" [(ngModel)]="pw" class="form-control" id="exampleInputPassword1" >
              <div style="text-align: left;"><a routerLink="/signup">Do not have account</a></div>
            </div>
            <!-- <input type="text" [(ngmodel.text)]="myText"> -->
            <button class="btn btn-primary" (click)="sub()">Login</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <button mat-flat-button color="warn">Warn</button> -->




<input type="text" value="Your email"  disabled="true">
<br>
<div  id="xxx">ahmed <input type="text" value="Your email" display [(ngModel)]=pw></div>
<!-- <br> -->
<input type="text" value="Your email" display  disabled="true">



<button mat-button [matMenuTriggerFor]="operations">Operations</button>
<mat-menu #operations="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="sortby">Sort by</button>
  <button mat-menu-item [matMenuTriggerFor]="filterby">Filter by</button>
  <button mat-menu-item [matMenuTriggerFor]="searchby">Search by</button>
  <button mat-menu-item >Remove</button>
  <button mat-menu-item >Move</button>
</mat-menu>

<mat-menu #sortby="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="to" disabled="true">To</button>
  <button mat-menu-item [matMenuTriggerFor]="from">From</button>
  <button mat-menu-item [matMenuTriggerFor]="importance">Importance</button>
  <button mat-menu-item [matMenuTriggerFor]="subject">Subject</button>
  <button mat-menu-item [matMenuTriggerFor]="emailcontent">Email Content</button>
  <button mat-menu-item [matMenuTriggerFor]="attachment">Attachment</button>
  <button mat-menu-item [matMenuTriggerFor]="time">Time</button>
</mat-menu>

<mat-menu #filterby="matMenu">
  <button mat-menu-item >From</button>
  <button mat-menu-item>To</button>
  <button mat-menu-item>Importance</button>
  <button mat-menu-item>Subject</button>
  <button mat-menu-item>Email content</button>
</mat-menu>

<mat-menu #searchby="matMenu">
  <button mat-menu-item>From</button>
  <button mat-menu-item>To</button>
  <button mat-menu-item>Importance</button>
  <button mat-menu-item>Subject</button>
  <button mat-menu-item>Email content</button>
</mat-menu>


<mat-menu #to="matMenu">
  <button mat-menu-item>ASC</button>
  <button mat-menu-item>DSC</button>
</mat-menu>

<mat-menu #from="matMenu">
  <button mat-menu-item>ASC</button>
  <button mat-menu-item>DSC</button>
</mat-menu>
<mat-menu #importance="matMenu">
  <button mat-menu-item>ASC</button>
  <button mat-menu-item>DSC</button>
</mat-menu>
<mat-menu #emailcontent="matMenu">
  <button mat-menu-item>ASC</button>
  <button mat-menu-item>DSC</button>
</mat-menu>
<mat-menu #subject="matMenu">
  <button mat-menu-item>ASC</button>
  <button mat-menu-item>DSC</button>
</mat-menu>
<mat-menu #attachment="matMenu">
  <button mat-menu-item>ASC</button>
  <button mat-menu-item>DSC</button>
</mat-menu>
<mat-menu #time="matMenu">
  <button mat-menu-item>ASC</button>
  <button mat-menu-item>DSC</button>
</mat-menu>













  