<div class ="container">
  <div class="row">
    <div class="col-mid-6">
      <div class="card">
        <div class="text-center">
          <div class="Logo">
            <img alt="Mail Server Logo" src="./assets/img/myMail.png" width=50>
            <span>Mail Server</span>
          </div>
          <div style="display: flex; flex-wrap: wrap ;align-items: center; justify-content: center;">
            <div class="mb-3" style="width: 490px;">
              <label for="exampleInputEmail1" class="form-label"  >Email address</label>
              <input [(ngModel)]="myText" type="text" class="form-control" id="exampleInputEmail1"  aria-describedby="emailHelp" >
              <!-- [(ngmode)]="myText" -->
            </div>
            <div class="mb-3" style="width: 490px">
              <label for="exampleInputPassword1" class="form-label" >Password</label>
              <input type="password" [(ngModel)]="pw" class="form-control" id="exampleInputPassword1" >
              <div style="text-align: left;"><a routerLink="/signup">Do not have account</a></div>
            </div>
            <!-- <input type="text" [(ngmodel.text)]="myText"> -->
            <button class="btn btn-primary" (click)="sub()">Login</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="btn " data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  Button with data-bs-target
</div>  

<div class="collapse" id="collapseExample">
<div class="card card-body">
  Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
</div>
</div>

<div class="container d-flex justify-content-center mt-200">
  <div class="row">
      <div class="col-md-12">
          <div class="stars">
              <form action=""> <input class="star star-4" id="star-4" type="radio" name="star" /> <label class="star star-4" for="star-4"></label> <input class="star star-3" id="star-3" type="radio" name="star" /> <label class="star star-3" for="star-3"></label> <input class="star star-2" id="star-2" type="radio" name="star" /> <label class="star star-2" for="star-2"></label> <input class="star star-1" id="star-1" type="radio" name="star" /> <label class="star star-1" for="star-1"></label> </form>
          </div>
      </div>
  </div>
</div>