
<aside class="navigation flex-container main-container"style="display: block">
    <div class="compose">
        <div class="btn">
        <a routerLink="/compose/none"><img alt ="Compose" src="./assets/img/compose.png">
            <p>Compose </p>
        </a>
        </div>
    </div>
    <div class="compose">
        <div class="btn">
        <a routerLink="/contacts"><img alt ="Contacts" src="./assets/img/contacts_2x.png">
            <p>Contacts </p>
        </a>
        </div>
    </div>
    <div class="compose">
        <div class="btn">
        <a (click)="reloadComponent(true)"><img alt ="Reload" src="./assets/img/refresh-512.webp">
            <p>Reload </p>
        </a>
        </div>
    </div>
    

    <div class="nav-list" id="nav-list" *ngFor = "let folder of folders" > 
        
        <a routerLink="/folder/{{folder.name}}" routerLinkActive="active current"><i class="fas fa-folder"></i><span class="Name">{{folder.name}}</span><span class="count">{{folder.id.length}}</span></a>

    </div>
    <div class="FOLDER">
        <div class="btn">
        <a (click)="showA()"><img alt ="add" src="./assets/img/add.webp">
                <p>Add Folder</p>
        </a>
        </div>
    </div>
    <input id="nameI" [(ngModel)]="newFolderName" placeholder="Enter A Folder Name" >
    <div class="compose" id="nameBTN">
        <div class="btn">
        <a (click)="add()"><img alt ="add" src="./assets/img/add.webp">
            <p>OK </p>
        </a>
        </div>
    </div>
    <div class="FOLDER">
        <div class="btn">
        <a (click)="showB()"><img alt ="add" src="./assets/img/rename.png">
            <p>Rename Folder</p>
        </a>
        </div>
    </div>
    <input id="nameI2" [(ngModel)]="newFolderName" placeholder="Enter New Folder Name" >
    <div class="compose" id="nameBTN2">
        <div class="btn">
        <a (click)="rename()"><img alt ="add" src="./assets/img/rename.png">
            <p>OK </p>
        </a>
        </div>
    </div>    
        <div class="FOLDER">
        <div class="btn">
        <a (click)="remove()"><img alt ="add" src="./assets/img/delete.png">
            <p>Delate Folder</p>
        </a>
        </div>
    </div>

</aside>
